.backlink {
	.post-breadcrumb();
}

.post {

	h1.title {
		.post-title();
	}

	.backlink {
		.post-breadcrumb();
	}

	.meta {
		//.post-metadata();
		            	.clearfix;
                        color: @grayLight;
                        margin-bottom: @baseLineHeight/2;
                        margin-top: @baseLineHeight/4 * -1;

                        .authordate {
                            display: inline-block;
                            .pull-left;

                            .transition(color .1s linear);

                            &:before {
                                //.icon(@fa-var-clock-o);
                                .fa-icon();
                                content: @fa-var-clock-o;
                                margin-left: 5px;
                            }

                            &:hover {
                                color: @textColor;
                            }
                        }

                        .stats {
                            .pull-right;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                            a {
                                color: @grayLight;
                                .transition(color 1s linear);

                                &:after {
                                    //.icon(@comment);
                                    .fa-icon();
                                    content:  @fa-var-comment;
                                    margin-left: 5px;
                                }

                                &:hover,
                                &:focus,
                                &:active {
                                    color: @textColor;
                                    text-decoration: none;
                                }
                            }
                        }

                        .tags {
                            clear: both;
                            display: block;
                            .opacity(@dimmedOpacity);
                            .transition(opacity .1s linear);

                            &:hover {
                                .opacity(@opaqueOpacity);
                            }

                            ul {
                                margin: 0;
                                list-style: none;
                                > li {
                                  display: inline-block;
                                  .ie7-inline-block();
                                  margin-right: 10px;
                                }
                            }
                        }

	}

	.body {
		margin-bottom: @baseLineHeight * 1.5;

		.figure {
			.thumbnail;
			display: table;
			@media @mobileLayout {
				display: block;
				width: 97%;
			}
			margin: 0 auto @baseLineHeight;

			& > a,
			& > a > img {
				max-width: 100%;
				height: auto;
				overflow: hidden;
				margin-left: auto;
				margin-right: auto;
			}

			.caption {
				.thumbnail .caption;
				font-style: italic;
				padding-bottom: 0; // take away the beefiness.
			}
		}
	}

	&+ .post {
		margin-top: @baseLineHeight * 2;
	}
}
